@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
body {
  cursor: none;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
  animation: scan 20s infinite;
}

@keyframes scan {
  0%   { background-position: 0 -100vh; }
  100% { background-position: 0 100vh; }
}

#game {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: top left;
  overflow: hidden;
}

#game-container {
  overflow: scroll; 
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#game-container::-webkit-scrollbar {
  display: none;
}

img {
  image-rendering: pixelated;
  width: 25px;
}
.tile {
  margin-top: -6px;
}
.resource, .bench, .player {
  position: absolute;
  margin-left: -25px;
  margin-top: -6px;
}
.source {
  position: absolute;
  margin-top: -6px;
}
.oak {
  width: 50px;
}
#title-bg {
  cursor: url(img/cursor.png), auto;;
  background: black;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -8px;
  left: -8px;
  margin: 0px;
}
#title {
  position: absolute;
  
  width: min-content;
  left: 50%;
  transform: translateX(-50%);
}

#title-img {
  width: 512px;
  margin-top: 20%;
}
@media (max-width: 550px) {
  #title-img {
    width: 400px;
  }
}
@media (max-width: 450px) {
  #title-img {
    margin-top: 60%;
    width: 300px;
  }
}


#play {
  position: relative;
  font-family: "Jersey 10";
  font-size: 30px;
  color: white;
  border: 7.5px solid transparent;
  border-image: url(img/border-white.png) 35% round;
  width: fit-content;
  background: rgba(0,0,0,0);
  border-radius: 15px;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 25px 5px 25px;
  text-align: center;
}
#play:hover {
  border: 7.5px solid transparent;
  border-image: url(img/border.png) 35% round;
}

#subtitle {
  font-family: "Micro 5";
  text-align: center;
  font-size: 24px;
}

#inventory, #crafting {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0px;
  left: 0px;
  background:rgba(0, 0, 0, 0.5);
  cursor: url(img/cursor.png), auto;
}
#centered, #centered-craft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
}

.inventoryImg {
  width: 48px;
  border: 7.5px solid transparent;
  border-image: url(img/border-white.png) 35% round;
}
.inventoryImg:active {
  border-image: url(img/border.png) 35% round;
}
.inventoryNum {
  display: inline-block;
  font-family: 'Jersey 10';
  background: white;
  font-size: 32px;
  position: relative;
  margin-left: -18px;
  height: 24px;
  line-height: 75%;
  padding-left: 3px;
  padding-right: 1.5px;

  border: 3.75px solid transparent;
  border-image: url(img/border-filled.png) 35% round;
  border-radius: 45%;
}
.inventoryContainer {
  display: inline-block;
  width: fit-content;
  margin-right: 10px;
}
* {
  user-select: none;
}
body {
  overflow: hidden;
}
.necessaryResource {
  display: inline-block;
  margin-right: 6px;
  width: 25px;
}
.resourceAmount {
  display: inline-block;
  font-family: 'Jersey 10';
  font-size: 32px;
  color: white;
  position: relative;
  display: flex;
  margin-top: -3px;
}
.resourceAmount img {
  object-fit: contain;
  flex-shrink: 0;
  height: auto;
  margin-left: 10px;
}
.recipe {
  height: 70px;
  display: inline-flex; 
  align-items: flex-start;
  border: 7.5px solid transparent;
  border-image: url(img/border.png) 35% round;
  
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 18px;

  cursor: url(img/cursor.png), auto;
}
.recipe:hover {
  border-radius: 10px;
  border-image: url(img/border-white.png) 35% round;
}
.recipe:active {
  border-image: url(img/border.png) 35% round;
}
.recipe:active .inventoryImg{
  border-image: url(img/border.png) 35% round;
}

#mobile-arrows {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 99;
  cursor: pointer;
}
#mobile-arrows img, #mobile-buttons img {
  width: 140px;
  margin-right: 3px;
  margin-top: 3px;
}

#mobile-buttons {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 101;
  cursor: pointer;
}

#debug {
  width: 200px;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.7);
  z-index: 6767676676676;
  font-family: monospace;
  font-size: 12px;
  cursor: auto;
  padding-left: 4px;
}
.debug {
  background: none;
  border: none;
  color: white;
  font-family: monospace;
  font-size: 12px;
  cursor: pointer;
}
u {
  text-decoration: underline;
}
.selected {
  outline: 3px solid red;
  outline-offset: -3px;
}
#loader-wrapper {
  width: 100%;
  height: 100%;
}
#loader {
  width: 100px;
  height: 15px;
  border: 2px solid white;
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
}
#tinybar {
  background: white;
  width: 0px;
  height: inherit;
}
#percentage {
  font-family: 'Micro 5';
  color: white;
  width: 100px;
  position: relative;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
}
